body {
	background-color: #1f1e1e;
	color: white;
	overflow: hidden;
}

h1 {
	text-align: center;
}

.todo-wrapper {
	background: #353434;
	padding: 2%;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	max-height: 80vh;
	overflow-y: auto;
	box-shadow: 20px 20px 10px rgb(21, 21, 21);
}

.input {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid black;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.input-items {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 25px;
}

.input-items label {
	font-weight: bold;
	margin-bottom: 10px;
}

.input-items input {
	padding: 10px;
	border: none;
	width: 500px;
}

.input-items input:focus {
	outline: 1.5px solid rgb(0, 230, 122);
}

.primary-btn {
	background-color: rgb(0, 230, 122);
	color: white;
	border: none;
	width: 100px;
	border-radius: 10px;
	margin-top: 40px;
	padding: 10px;
	cursor: pointer;
}

.btn-area {
	margin-bottom: 15px;
}

.primary-btn:hover {
	background-color: rgb(3, 174, 94);
}

.secondary-btn {
	background-color: rgb(72, 73, 73);
	color: white;
	border: none;
	width: fit-content;
	border-radius: 10px;
	margin-top: 40px;
	padding: 10px;
	cursor: pointer;
	margin-right: 10px;
}

.active {
	background-color: rgb(3, 174, 94);
}

.list {
	display: flex;
	flex-direction: column;
}

.list-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #414040;
	padding: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 10px rgb(39, 38, 38);
}

.list-items h3 {
	font-size: 50px;
	color: rgb(0, 230, 122);
	font-weight: bold;
	margin: 0;
}

.list-items p {
	font-size: 35px;
	color: rgb(161, 161, 161);
}

.delete {
	font-size: 70px;
	cursor: pointer;
}

.check {
	font-size: 60px;
	cursor: pointer;
	margin-left: 10px;
	color: rgb(0, 230, 122);
	margin-bottom: 5px;
}

.delete:hover {
	color: red;
}

.check:hover {
	color: rgb(2, 168, 90);
}
